
<h3>All rents</h3>
<%= @book.rents.each do |rent| %>
	<h4><%= rent.member.email %></h4>
	<%= rent.date_of_receipt %>
	<%= rent.book.name %>
<% end %>
<%= form_for ([@book, @book.rents.build]) do |f| %>
	<%= f.date_field :date_of_receipt %>	
	<%= f.submit 'Rent' %>
<% end %>