<body id="books">
<div class="col-sm-3"></div>
<div class="col-sm-6">
    <p id="notice"><%= notice %></p>

    <h1 class="well" align="center">Books</h1>

  <div class="panel panel-success">    
      <% @books.each do |book| %>
        
          <div class="panel panel-heading">
            <h3> <%= book.name %></h3>
          </div>
          <div class="panel panel-body">
            <td><%= book.publisher %></td>
            <td><%= book.category.kind %></td>
          </div>
          <%= link_to 'Show', book, class:"btn btn-info" %>
          <% if current_admin.present? %>
            <%= link_to 'Edit', edit_book_path(book), class:"btn btn-warning" %>
            <%= link_to 'Destroy', book, method: :delete, class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
          <% end %>
        </tr>
       
      <% end %>
  </div>
    <br>

    <%= link_to 'New Book', new_book_path %>
</div>
</body>