<h1><%= @category.kind %></h1>

<% @category.books.each do |book| %>
  <b>ID </b><%= book.id %>
  <b>Title </b>
  <%= link_to book.name, book_path(book) %><br/>
<% end %>

<h3>
	<%= link_to 'Edit Category', edit_category_path %>
	<%= link_to 'Destroy Category', category_path(@category), method: :delete %>
</h3>