<!DOCTYPE html>
<html>
  <head>
    <title>BookImdb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_member.present? %>
  	<%= link_to 'Çıkış', destroy_member_session_path, method: :delete %>
  <% else %>
  	
  <% end %>
  	<%= render 'flash' %>
    <%= yield %>
  </body>
</html>
